@*@page "/registrar-persona"

<h3>REGISTRO PERSONAS</h3>

<hr />

<EditForm Model="@OPersona" OnValidSubmit="@OnValidSubmit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label class="col-form-label" for="cedula">Cedula</label>
                        <InputText id="cedula" class="form-control" @bind-Value="OPersona.Cedula" />
                        <ValidationMessage For="@(()=> OPersona.Cedula)" />
                    </div>
                    <div class="form-group col-12">
                        <label class="col-form-label" for="cedula">Nombre</label>
                        <InputText id="nombre" class="form-control" @bind-Value="OPersona.Nombre" />
                        <ValidationMessage For="@(()=> OPersona.Nombre)" />
                    </div>
                    <div class="form-group col-sm-12 col-lg-6">
                        <label class="col-form-label" for="date">Fecha</label>
                        <InputDate id="date" class="form-control" @bind-Value="@OPersona.Apellido" />
                        <ValidationMessage For="@(()=> OPersona.Apellido)" />
                    </div>
                    <div class="form-group col-12">
                        <label class="col-form-label" for="lugar">Lugar</label>
                        <InputText id="lugar" class="form-control" @bind-Value="OPersona.Telefono" />
                        <ValidationMessage For="@(()=> OPersona.Telefono)" />
                    </div>
                    <div class="form-group col-sm-12 col-lg-6">
                        <label class="col-form-label" for="latitud">Latitud</label>
                        <InputNumber id="latitud" @bind-Value="@OPersona.Correo" class="form-control" />
                        <ValidationMessage For="@(()=> OPersona.Correo)" />
                    </div>
                    <div class="form-group col-sm-12 col-lg-6">
                        <label class="col-form-label" for="longitud">Longitud</label>
                        <input class="form-control" type="date" @bind="@OPersona.FechaNacimiento" format-value="yyyy-MM-dd" />
                        <ValidationMessage For="@(()=> OPersona.FechaNacimiento)" />
                    </div>
                    <div class="form-group col-12">
                        <label class="col-form-label" for="valor">Valor</label>
                        <InputNumber id="valor" @bind-Value="@OPersona.IdSangre" class="form-control" />
                        <ValidationMessage For="@(()=> OPersona.IdSangre)" />
                    </div>
                    <div class="form-group col-12">
                        <label class="col-form-label" for="sustraccion">Sustraccion</label>
                        <InputNumber id="sustraccion" @bind-Value="@OPersona.IdProvincia" class="form-control" />
                        <ValidationMessage For="@(()=> OPersona.IdProvincia)" />
                    </div>
                    <div class="form-group col-12">
                        <label class="col-form-label" for="sustraccion">Sustraccion</label>
                        <InputtEXT id="sustraccion" @bind-Value="@OPersona.Direccion" class="form-control" />
                        <ValidationMessage For="@(()=> OPersona.Direccion)" />
                    </div>
                    <div class="form-group col-sm-12 col-lg-6">
                        <label class="col-form-label" for="latitud">Latitud</label>
                        <InputNumber id="latitud" @bind-Value="@OPersona.Latitud" class="form-control" />
                        <ValidationMessage For="@(()=> OPersona.Latitud)" />
                    </div>
                    <div class="form-group col-sm-12 col-lg-6">
                        <label class="col-form-label" for="latitud">Latitud</label>
                        <InputNumber id="latitud" @bind-Value="@OPersona.Longitud" class="form-control" />
                        <ValidationMessage For="@(()=> OPersona.Longitud)" />
                    </div>
                    <div class="form-group col-sm-12 col-lg-6">
                        <label class="col-form-label" for="latitud">Latitud</label>
                        <InputNumber id="latitud" @bind-Value="@OPersona.Correo" class="form-control" />
                        <ValidationMessage For="@(()=> OPersona.Correo)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">@TextoBoton</button>
        <a href="indice-robos" class="btn btn-primary">Volver</a>
    </div>
    <DataAnnotationsValidator />
</EditForm>

@code {

    private PersonaModel OPersona = new PersonaModel();

}*@
